.cardContainer {
  min-width: 400px;
}


.activeFilter {
  background-color: aquamarine;
  border: 1px solid darkslategray;
}

.tasksList {
  list-style-type: none;
  padding-left: 15px;

}
.task {
  display: flex;
  align-items: center;
}

.finishedTask {
  opacity: 0.5;
}